
$coral:#F4807F;
$white: #FFFFFF;


.togle_cenas {
   display:flex;
   flex-direction: row;
   align-items:center;
   justify-content:center;
   
   
   span.switcher {
      position: relative;
      
      width:200px;
      height:55px;
      border-radius:25px;
      margin:20px 0;
      input {
         appearance: none;
         
         position: relative;

         width:202.07px;
         height:50px;
         border-radius:25px;
         border: 0.5px solid #FFFFFF;
         
         outline:none;

         font-family: 'Lato', sans-serif;
         font-size: 14px;
         &:before, &:after {
            z-index:2;

            position: absolute;
            top:50%;
            transform:translateY(-50%);

            color:$white;
         }
         &:before {
            content: 'DESTINOS';
            left:20px;
         }
         &:after {
            content: 'DICAS';
            right:30px;
         }
      }
      label {
         z-index: 1;
         position: absolute;
         top:5px;
         bottom:5px;
         
         border-radius:24px;
      }
      &.switcher-1 {
         input {
            transition:.25s -.1s;
            &:checked {
                
                border: 0.5px solid #FFFFFF;
               &:before {
                  color:$white;
                  transition: color .5s .2s;
               }
               &:after {
                  color:$white;
                  transition: color .5s;
               }
               &+label {
                  left:10px;
                  right:90px;
                  transition: left .5s, right .4s .2s;
                  background:$coral;
               }
            }
            &:not(:checked) {
               
                transition:background-color 0s .5s;
               &:before {
                  color:$white;
                  transition: color .5s;
               }
               &:after {
                  color:$white;
                  transition: color .5s .2s;
               }
               &+label {
                  left:100px;
                  right:1px;
                  
                  background:$coral;
                  
                  transition: left .4s .2s, right .5s, background-color .35s -.1s;
               }
            }
         }
      }
   }
}